/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Styles for desktop menu */
.desktop-menu {
    display: flex;
    justify-content: flex-end;
}

.desktop-menu li {
    margin-left: 20px;
}

/* Styles for mobile menu */
.mobile-menu {
    display: none; /* Hide the mobile menu by default */
}

@media only screen and (max-width: 600px) {
    /* Show the mobile menu for screens up to 600px wide */
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        justify-content: center;
    }

    .mobile-menu li {
        margin: 0 5px;
    }
}

/* Header styles */
header {
    background-color: blue;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: flex-end; /* Shift the menu to the right */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Align the menu items to the right */
}

nav li {
    margin-left: 20px; /* Add some space between menu items */
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Main styles */
main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    text-align: center; /* Center the content vertically */
}

section {
    margin-bottom: 40px;
    max-width: 800px; /* Limit the width of the sections */
    margin: 0 auto; /* Center the sections horizontally */
}


/* Slider styles */
#slider {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
}

.slide img {
    width: 100%;
    height: auto;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-links a {
    color: #fff; /* Set the link color to white */
    margin: 0 10px; /* Add some spacing between the links */
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline; /* Add underline on hover */
}


/* Responsive styles */
@media (max-width: 768px) {
    nav {
        text-align: center;
    }
    
    nav ul {
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    #slider {
        max-width: 100%;
    }
}
